@use "../mixins.scss";
@use "../variables.scss";

.advantages__wrapper {
  padding-bottom: 6px;

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 165px;
  }
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  text-align: left;
  color: variables.$titles;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 1;
    padding-top: 45px;
    padding-bottom: 72px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 71px;
  }
}

.advantages__list {
  @include mixins.list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 44px;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 60px;
    padding-bottom: 0;
    counter-reset: none;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    padding-bottom: 0;
  }
}

.advantages__item {
  display: flex;
  gap: 20px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: column;
    gap: 31px;
    position: relative;
    min-height: 280px;
    counter-increment: line;
  }
}

.advantages__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: variables.$bg-extra;

  @media (min-width: variables.$tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.advantages__item--leaf::before {
  background-image: url("../img/stack.svg#icon_leaf");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px 32px;
}

.advantages__item--powder::before {
  background-image: url("../img/stack.svg#icon_powder");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 29px;
}

.advantages__item--eat::before {
  background-image: url("../img/stack.svg#icon_eat");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 30px;
}

.advantages__item--timer::before {
  background-image: url("../img/stack.svg#icon_timer");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 31px;
}

@media (min-width: variables.$tablet-width) {
  .advantages__item::after {
    position: absolute;
    left: 118px;
    top: -40px;
    z-index: -1;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 1;
    color: variables.$bg;
    content: counter(line);
  }
}

.advantages__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: variables.$text;
  margin: 0;
  max-width: 200px;
  padding-top: 1px;

  br {
    display: none;
  }


  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    max-width: 250px;

    br {
      display: block;
    }
  }
}
