@use "../mixins.scss";
@use "../variables.scss";

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: variables.$titles;
  margin: 0;
}

.advantages__list {
  @include mixins.list-reset;
}

@media (min-width: variables.$tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px;
  }
}

@media (min-width: variables.$desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
  }
}

.advantages__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: variables.$text;
  margin: 0;
}
