@use "../mixins.scss";
@use "../variables.scss";

.contacts--dark {
  background-color: variables.$bg;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: variables.$titles-alt;
  margin: 0;
}

.contacts__address {
  display: flex;
  flex-direction: column;
}

.contacts__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: variables.$text;
  margin: 0;
}
