@use "../mixins.scss";
@use "../variables.scss";

.main-footer__wrapper {
  background-color: variables.$bg;
}

@media (min-width: variables.$tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__copyright {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.main-footer__academy-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: variables.$text;
  margin: 0;
}
