@use "./mixins.scss";
@use "./variables.scss";

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: variables.$tablet-width) {
  .main-header__toggle {
    display: none;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 54px;
  padding-bottom: 10px;
}
