@use "../mixins.scss";
@use "../variables.scss";

.main-footer__wrapper {
  background-color: variables.$bg;
  display: flex;
  flex-direction: column;
}

@media (min-width: variables.$tablet-width) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 57px 30px;
  }
}

.main-footer__logo {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 16px;
  width: 100%;
  border-bottom: 1px solid variables.$borders-extra;

  @media (min-width: variables.$tablet-width) {
    text-align: left;
    padding: 0;
    border: none;
    width: 168px;
    display: flex;
  }
}

.main-footer__logo img {
  &:hover,
  &:focus {
    fill: variables.$logo-hover;
  }

  &:active {
    fill: variables.$logo-active;
  }

  @media (min-width: variables.$tablet-width) {
    width: 143px;
    height: 27px;
    align-self: center;
  }
}

.main-footer__social {
  align-self: center;
}

.main-footer__copyright {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 47px;
  border-top: 1px solid variables.$borders-extra;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    border: none;
  }
}

.main-footer__copyright:hover img {
  color: variables.$buttons;
}

.main-footer__academy-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: variables.$text;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    margin-right: 27px;
    min-width: 113px;
  }
}
