@use "../mixins.scss";
@use "../variables.scss";

.products__main-title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: variables.$titles;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 1;
    padding-top: 48px;
    padding-bottom: 162px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 60px;
    padding-bottom: 165px;
  }
}

@media (max-width: variables.$mobile-width-only) {
  .products__main-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    height: 1px;
    background-color: variables.$borders;
    width: 100vw;
    box-shadow: -100vw 0 variables.$borders;
  }

  .products__main-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    height: 1px;
    background-color: variables.$borders;
    width: 100vw;
    box-shadow: -100vw 0 variables.$borders;
  }
}

@media (min-width: variables.$desktop-width) {
  .products__wrapper--extra {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
    padding-bottom: 85px;
  }
}

.products__list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 143px;
  }
}

.products__list--extra {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 35px;
  border-top: 1px solid  variables.$borders;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 69px;
    gap: 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.products__card {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  position: relative;
  padding-top: 20px;
  padding-bottom: 25px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    background-color: variables.$bg;
    padding: 39px;
    padding-top: 161px;
    min-height: 430px;
  }
}

.products__image {
  grid-column: 1/2;
  grid-row: 1/5;
  justify-self: center;
  align-self: end;
  margin-bottom: -5px;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1/-1;
    position: absolute;
    bottom: 198px;
    width: 324px;
    min-height: 208px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  @media (min-width: variables.$desktop-width) {
    bottom: 206px;
  }
}

@media (max-width: variables.$mobile-width-only) {
  .products__card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    height: 1px;
    background-color: variables.$borders;
    width: 100vw;
    box-shadow: -100vw 0 variables.$borders;
  }
}

.products__card--extra {
  grid-template-columns: 1fr 1fr;
  padding-top: 11px;
  padding-bottom: 18px;
  border-bottom: 1px solid variables.$borders;

  @media (min-width: variables.$tablet-width) {
    background-color: variables.$text-alt;
    outline: 1px solid variables.$borders-alt;
    display: flex;
    flex-wrap: wrap;
    min-height: 139px;
    padding-top: 20px;
    padding-bottom: 28px;
  }

  @media (min-width: variables.$desktop-width) {
    align-items: center;
    padding: 15px 0;
    outline: none;
    border-bottom: 1px solid variables.$borders-alt;
    min-height: 72px;
  }
}

.products__card--extra::before {
  display: none;
}

@media (min-width: variables.$desktop-width) {
  .products__card--extra:first-child {
    border-top: 1px solid variables.$borders-alt;
  }
}

@media (min-width: variables.$tablet-width) {
  .products__card img {
    grid-column: 1/-1;
  }
}

.products__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: variables.$titles-extra;
  margin: 0;
  grid-column: 2/4;
  width: 80px;
  padding-bottom: 14px;
  text-decoration: none;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1/-1;
    font-size: 20px;
    line-height: 1.2;
    width: 150px;
    text-align: center;
    justify-self: center;
    align-self: center;
  }

  @media (min-width: variables.$tablet-width) {
    line-height: 21px;
    padding-left: 10px;
  }
}

.products__subtitle--extra {
  grid-column: 1/3;
  width: 150px;
  padding-bottom: 11px;

  @media (min-width: variables.$tablet-width) {
    margin-right: auto;
  }

  @media (min-width: variables.$tablet-width) {
    margin-right: 0;
    text-align: left;
    padding: 0;
    min-width: 325px;
  }
}

.products__feature-name {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: variables.$text;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 1;
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid variables.$borders-alt;
  }
}

.products__feature-value {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: variables.$text;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 1;
    padding-bottom: 9px;
    padding-top: 7px;
    border-bottom: 1px solid variables.$borders-alt;
  }
}

.products__feature-value--extra {
  text-align: left;
  font-size: 14px;
  line-height: 1;

  @media (min-width: variables.$tablet-width) {
    border: none;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 243px;
    padding: 0;
  }
}

.products__feature-value--price {
  font-size: 14px;
  line-height: 1;

  @media (min-width: variables.$tablet-width) {
    border: none;
    width: 93px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 80px;
    text-align: left;
    margin-left: 0;
    padding: 0;
  }
}

.products__button {
  @include mixins.button;
  grid-column: 1/4;
  margin-top: 22px;
  font-size: 16px;
  line-height: 1.25;
  padding: 10px 0;
}

@media (min-width: variables.$tablet-width) {
  .products__button {
    grid-column: 1/3;
    padding-bottom: 10px;
    margin-top: 29px;
  }
}

.products__button--extra {
  grid-column: 1/3;
  margin-top: 15px;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    margin-top: 5px;
    padding-top: 12px;
    padding-bottom: 4px;
    line-height: 16px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 244px;
    margin-top: 0;
    margin-left: auto;
    padding-bottom: 12px;
  }
}

.products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: variables.$titles;
  padding-top: 25px;
  padding-bottom: 36px;
  margin: 0;
  display: flex;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding-left: 37px;
    padding-top: 68px;
    padding-bottom: 79px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 0;
    padding-top: 76px;
    padding-bottom: 79px;
  }
}

.products__title-wrapper {
  display: flex;
  position: relative;
  z-index: 2;
}

.products__title::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 40px;
  height: 2px;
  background-color: variables.$bg-alt;
  width: 100vw;

  @media (min-width: variables.$tablet-width) {
    box-shadow: -100vw 0 variables.$bg-alt;
    left: -32px;
    top: 89px;
  }

  @media (min-width: variables.$desktop-width) {
    box-shadow: -100vw 0 variables.$bg-alt;
    left: -110px;
    top: 98px;
  }
}

.products__title::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 40px;
  height: 4px;
  background-color: variables.$text-alt;
  width: 267px;

  @media (min-width: variables.$tablet-width) {
    width: 409px;
    top: 88px;
    left: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 413px;
    top: 97px;
    left: -40px;
  }
}

.products__promotion {
  position: relative;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    margin-bottom: 76px;
    min-height: 200px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    min-height: 288px;
    flex-direction: column;
    width: 244px;
  }
}

.products__promotion::after {
  content: "";
  background-image: linear-gradient(variables.$bg-alt, variables.$bg-alt), url("../img/catalog-background-cat-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(variables.$bg-alt, variables.$bg-alt), url("../img/catalog-background-cat-mobile-2x.jpg");
  }

  @media (min-width: variables.$tablet-width) {
    background-image: linear-gradient(variables.$bg-alt, variables.$bg-alt), url("../img/catalog-background-cat-tablet.jpg");
  }

  @media (min-width: variables.$tablet-width) and (min-resolution: 2dppx) {
    background-image: linear-gradient(variables.$bg-alt, variables.$bg-alt), url("../img/catalog-background-cat-tablet-2x.jpg");
  }

  @media (min-width: variables.$desktop-width) {
    background-image: linear-gradient(variables.$bg-alt, variables.$bg-alt), url("../img/catalog-background-cat-desktop.jpg");
  }

  @media (min-width: variables.$desktop-width) and (min-resolution: 2dppx) {
    background-image: linear-gradient(variables.$bg-alt, variables.$bg-alt), url("../img/catalog-background-cat-desktop-2x.jpg");
  }
}

.products__promotion::before {
  content: "";
  background-image: url("../img/gift.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  z-index: 2;
  display: block;
  align-self: center;
  margin-top: 59px;
  margin-bottom: 48px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    margin-left: 78px;
    margin-right: auto;
    width: 80px;
    height: 83px;
    background-size: contain;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    margin-top: 56px;
  }
}

.products__promotion-title {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: variables.$text-alt;
  z-index: 2;
  margin: 0;
  padding: 0 55px;

  @media (min-width: variables.$tablet-width) {
    align-self: center;
    width: 165px;
    padding: 0;
    text-align: left;
    margin-right: 120px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 0;
    text-align: center;
    padding-top: 46px;
  }
}
