@use "../mixins.scss";
@use "../variables.scss";

.products__main-title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: variables.$titles;
  margin: 0;
}

@media (min-width: variables.$desktop-width) {
  .products__wrapper--extra {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
}

.products__list {
  @include mixins.list-reset;
}

@media (min-width: variables.$tablet-width) {
  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
}

@media (min-width: variables.$desktop-width) {
  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 63px;
  }
}

.products__list--extra {
  display: flex;
  flex-direction: column;
}

.products__card {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

@media (min-width: variables.$tablet-width) {
  .products__card {
    grid-template-columns: 1fr 1fr;
  }
}

.products__card--extra {
  grid-template-columns: 1fr 1fr;
}

@media (min-width: variables.$tablet-width) {
  .products__card--extra {
    grid-template-columns: 3fr 3fr 1fr;
  }
}

@media (min-width: variables.$desktop-width) {
  .products__card--extra {
    display: flex;
  }
}

.products__card img {
  grid-column: 1/2;
  grid-row: 1/5;
}

@media (min-width: variables.$tablet-width) {
  .products__card img {
    grid-column: 1/3;
  }
}

.products__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: variables.$titles-extra;
  margin: 0;
  grid-column: 2/4;
}

@media (min-width: variables.$tablet-width) {
  .products__subtitle {
    grid-column: 1/3;
  }
}

.products__subtitle--extra {
  grid-column: 1/3;
}

@media (min-width: variables.$tablet-width) {
  .products__subtitle--extra {
    grid-column: 1/2;
  }
}

.products__feature-name {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: variables.$text;
  margin: 0;
}

.products__feature-value {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: variables.$text;
  margin: 0;
}

.products__button {
  @include mixins.button;
  grid-column: 1/4;
}

@media (min-width: variables.$tablet-width) {
  .products__button {
    grid-column: 1/3;
  }
}

.products__button--extra {
  grid-column: 1/3;
}

@media (min-width: variables.$tablet-width) {
  .products__button--extra {
    grid-column: 1/4;
  }
}

.products__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: variables.$titles;
}

.products__promotion {
  position: relative;
}

.products__promotion::before {
  content: "";
  background-image: linear-gradient(variables.$bg-alt, variables.$bg-alt), url("../img/catalog-background-cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.products__promotion-title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: variables.$text-alt;
  z-index: 2;
  margin: 0;
}
