@use "../mixins.scss";
@use "../variables.scss";

.programs__wrapper {
  @media (min-width: variables.$desktop-width) {
    padding-top: 71px;
  }
}

.programs__list {
  @include mixins.list-reset;
}

@media (min-width: variables.$desktop-width) {
  .programs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 80px;
    margin: 0 auto;
  }
}

.programs__item {
  background-color: variables.$bg;
  display: flex;
  flex-wrap: wrap;
  padding: 19px;
  padding-top: 30px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 77px 20px 57px 52px;
    position: relative;
    display: block;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    width: calc(50% - 40px);
    display: flex;
    margin-bottom: 0;
    padding: 41px 61px 59px 52px;
    padding-top: 77px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.programs__item--slim::before {
  content: "";
  background-image: url("../img/stack.svg#cat-slim");
  min-width: 50px;
  min-height: 53px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 21px;
  left: 22px;

  @media (min-width: variables.$tablet-width) and (max-width: variables.$tablet-width-max) {
    background-image: url("../img/stack.svg#cat-slim-tablet");
    width: 200px;
    height: 211px;
    margin: 0;
    top: 80px;
    right: 61px;
    left: auto;
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../img/stack.svg#cat-slim-desktop");
    width: 100px;
    height: 106px;
    top: 41px;
    right: auto;
    left: 52px;
  }
}

.programs__item--pro::before {
  content: "";
  background-image: url("../img/stack.svg#cat-pro");
  min-width: 67px;
  min-height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 24px;
  left: 13px;

  @media (min-width: variables.$tablet-width) and (max-width: variables.$tablet-width-max) {
    right: 27px;
    top: 91px;
    width: 269px;
    height: 200px;
    margin: 0;
    left: auto;
  }

  @media (min-width: variables.$desktop-width) {
    width: 135px;
    height: 100px;
    top: 45px;
    right: auto;
    left: 33px;
  }
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: variables.$titles;
  margin: 0;
  max-width: 230px;
  padding-left: 72px;

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    line-height: 1;
    max-width: 340px;
    padding-left: 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 162px;
    max-width: 460px;
    margin-bottom: 72px;
  }
}

.programs__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: variables.$text;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 22px;
  padding-left: 1px;
  border-bottom: 1px solid variables.$borders-extra;

  @media (min-width: variables.$tablet-width) {
    border-bottom: none;
    font-size: 16px;
    line-height: 1.5;
    color: variables.$titles;
    padding-bottom: 52px;
    padding-top: 24px;
    max-width: 340px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 100%;
    padding-bottom: 28px;
    padding-left: 0;
    padding-top: 0;
  }
}

.programs__link {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: variables.$titles;
  padding: 19px 15px 3px 0;

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    width: 32px;
    background-image: url("../img/stack.svg#arrow-big");
  }

  @media (min-width: variables.$tablet-width) {
    border-bottom: none;
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
  }
}

.programs__link::after {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  right: -26px;
  background-image: url("../img/stack.svg#arrow");
  background-repeat: no-repeat;
  background-position: right;
  width: 24px;
  height: 12px;

  @media (min-width: variables.$tablet-width) {
    top: 9px;
    right: -52px;
  }
}
