@use "../mixins.scss";
@use "../variables.scss";

.programs__wrapper {
  @media (min-width: variables.$desktop-width) {
    padding-top: 71px;
  }
}

.programs__list {
  @include mixins.list-reset;
}

@media (min-width: variables.$desktop-width) {
  .programs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 80px;
    margin: 0 auto;
  }
}

.programs__item {
  background-color: variables.$bg;
  display: flex;
  flex-wrap: wrap;
  padding: 19px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 77px 20px 57px 52px;
    position: relative;
    display: block;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    width: calc(50% - 40px);
    display: flex;
    margin-bottom: 0;
    padding: 41px 61px 59px 52px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.programs__item--slim::before {
  content: "";
  background-image: url("../img/cat-slim.svg");
  min-width: 50px;
  min-height: 53px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 2px;
  margin-left: 3px;
  margin-right: 19px;

  @media (min-width: variables.$tablet-width) and (max-width: variables.$tablet-width-max) {
    position: absolute;
    background-image: url("../img/cat-slim-tablet.svg");
    right: 61px;
    min-width: 200px;
    min-height: 211px;
    margin: 0;
    bottom: 80px;
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../img/cat-slim-desktop.svg");
    width: 100px;
    height: 106px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 62px;
  }
}

.programs__item--pro::before {
  content: "";
  background-image: url("../img/cat-pro.svg");
  min-width: 67px;
  min-height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 5px;
  margin-left: -6px;
  margin-right: 11px;

  @media (min-width: variables.$tablet-width) and (max-width: variables.$tablet-width-max) {
    position: absolute;
    right: 27px;
    bottom: 81px;
    min-width: 269px;
    min-height: 200px;
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 135px;
    height: 100px;
    margin-top: 6px;
    margin-left: -19px;
    margin-right: 47px;
  }
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: variables.$titles;
  margin: 0;
  align-self: center;

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.programs__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: variables.$text;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 1px;
  border-bottom: 1px solid variables.$borders-extra;

  @media (min-width: variables.$tablet-width) {
    border-bottom: none;
    font-size: 16px;
    line-height: 1.5;
    color: variables.$titles;
    padding-bottom: 52px;
    padding-top: 24px;
    max-width: 340px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 100%;
    padding-bottom: 28px;
    padding-left: 0;
    padding-top: 37px;
  }
}

.programs__link {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: variables.$titles;
  padding: 19px 15px 3px 0;

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    width: 32px;
  }

  @media (min-width: variables.$tablet-width) {
    border-bottom: none;
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
  }
}

.programs__link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 5px;
  right: -26px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  width: 24px;
  height: 12px;

  @media (min-width: variables.$tablet-width) {
    bottom: 9px;
    right: -52px;
  }
}
