@use "../mixins.scss";
@use "../variables.scss";

.promo {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }
}

.promo::before {
  content: "";
  background-image: linear-gradient(variables.$bg-alt, variables.$bg-alt), url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 100%;
  min-height: 302px;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(variables.$bg-alt, variables.$bg-alt), url("../img/index-background-mobile-2x.jpg");
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.promo__wrapper {
  @media (min-width: variables.$tablet-width) {
    padding-left: 118px;
    padding-bottom: 526px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 190px;
    padding-bottom: 199px;
  }
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: variables.$text-alt;
  z-index: 2;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 1;
    color: variables.$titles;
    padding-right: 137px;
    text-align: left;
    padding-top: 47px;
    padding-bottom: 41px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 95px;
    padding-bottom: 40px;
    padding-right: 0;
    max-width: 450px;
  }
}

.promo__tagline {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: variables.$text-alt;
  z-index: 2;
  margin: 0;
  padding-bottom: 29px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 1;
    color: variables.$titles;
    padding-right: 137px;
    text-align: left;
    padding-bottom: 49px;
    padding-left: 2px;
  }
}

.promo__product {
  background-color: transparent;

  @media (min-width: variables.$tablet-width) {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 709px;
    height: 609px;
    margin-left: -354px;
    z-index: -1;
  }

  @media (min-width: variables.$desktop-width) {
    top: 11px;
    bottom: auto;
    width: 552px;
    height: 499px;
    margin-left: -160px;
    z-index: 0;
  }
}

.promo__link {
  @include mixins.button;
  display: block;
  text-align: center;
  padding: 11px 0;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding: 17px 26px;
    width: 244px;
  }

  @media (min-width: variables.$desktop-width) {
    position: relative;
  }
}
