@use "../mixins.scss";
@use "../variables.scss";

.site-list {
  @include mixins.list-reset;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 440px;
    margin: 0 auto;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 478px;
    padding-top: 51px;
  }
}

.site-list__link {
  color: variables.$titles;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
    border-bottom: 2px solid variables.$bg-extra;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: variables.$tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    padding-top: 18px;
    padding-bottom: 8px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.site-list__link--extra {
  @media (min-width: variables.$desktop-width) {

    color: variables.$text-alt;

    &:active {
      border-bottom: 2px solid variables.$text-alt;
    }
  }
}

.site-list__link--current {
  @media (min-width: variables.$tablet-width) {
    border-bottom: 2px solid variables.$bg-extra;
  }
}

.site-list__link--current-index {
  @media (min-width: variables.$desktop-width) {
    border-bottom: 2px solid variables.$text-alt;
  }
}

@media (max-width: variables.$mobile-width-only) {
  .site-list__item::before {
    content: "";
    position: absolute;
    left: -20px;
    height: 1px;
    background-color: variables.$borders;
    width: 100vw;
  }
}
