@use "../mixins.scss";
@use "../variables.scss";

.site-list {
  @include mixins.list-reset;
}

.site-list__link {
  color: variables.$titles;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
