@use "../mixins.scss";
@use "../variables.scss";

.site-list {
  @include mixins.list-reset;
}

@media (min-width: variables.$tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 440px;
    margin: 0 auto;
  }
}

.site-list__link {
  color: variables.$titles;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
