@use "../mixins.scss";
@use "../variables.scss";

.social {
  @include mixins.list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  width: 129px;
  padding-top: 21px;
  padding-bottom: 21px;

  @media (min-width: variables.$tablet-width) {
    border: none;
    padding: 0;
  }
}

.social__item {
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.social__link {
  display: block;
  background-color: variables.$divider;

  &:hover,
  &:focus {
    background-color: variables.$buttons;
  }

  &:active {
    background-color: variables.$buttons;
    opacity: 0.3;
  }
}

.social__link--vkontakte {
  width: 27px;
  height: 17px;
  mask: url("../../img/stack.svg#vk") no-repeat 50% 50%;
}

.social__link--youtube {
  width: 24px;
  height: 19px;
  mask: url("../../img/stack.svg#vk") no-repeat 50% 50%;
}

.social__link--telegram {
  width: 20px;
  height: 18px;
  mask: url("../../img/stack.svg#vk") no-repeat 50% 50%;
}
