@use "../mixins.scss";
@use "../variables.scss";

.stats {
  background-color: variables.$bg;
}

@media (min-width: variables.$desktop-width) {
  .stats__wrapper-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: variables.$desktop-width) {
  .stats__slider {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}

.stats__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  text-align: left;
  color: variables.$titles;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 40px;
}

.stats__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: variables.$text;
  margin: 0;
  padding-bottom: 20px;
}

@media (min-width: variables.$tablet-width) and (max-width: variables.$desktop-width) {
  .stats___wrapper-medium {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.stats__wrapper-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 32px;
}

.stats__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.stats__number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: variables.$titles;
  margin: 0;
  padding-top: 15px;
  min-width: 124px;
  min-height: 56px;
  border: 1px solid variables.$borders-alt;
  border-radius: 3px;
}

.stats__definition {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: variables.$text;
  margin: 0;
  margin-top: -10px;
  width: 87px;
  background-color: variables.$bg;
  z-index: 2;
}

.stats__total-price {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: variables.$titles;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.stats__slider {
  padding-bottom: 40px;
}
