@use "../mixins.scss";
@use "../variables.scss";

.stats {
  background-color: variables.$bg;
}

@media (min-width: variables.$desktop-width) {
  .stats__wrapper-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: variables.$desktop-width) {
  .stats__slider {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}

.stats__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: variables.$titles;
  margin: 0;
}

.stats__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: variables.$text;
  margin: 0;
}

@media (min-width: variables.$tablet-width) and (max-width: variables.$desktop-width) {
  .stats___wrapper-medium {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.stats__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 32px;
}

.stats__item {
  margin: 0;
}

.stats__number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: variables.$titles;
  margin: 0;
}

.stats__definition {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: variables.$text;
  margin: 0;
}

.stats__total-price {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: variables.$titles;
  margin: 0;
}
