@use "../mixins.scss";
@use "../variables.scss";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 31px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 110px;
  }
}
