@use "variables.scss";

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button {
  background-color: variables.$buttons;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: variables.$text-alt;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;

  &:hover,
  &:focus {
    background-color: variables.$buttons-hover;
  }

  &:active {
    background-color: variables.$buttons-hover;
    color: variables.$text-alt-hover;
  }
}
